# Directories that contain input data
hichip/
chiapet/
chipseq/
CTCF_hg38.txt
manorm_ChIA-PET/data/
Comparison_ChIA-PET_HiChIP_YRB/data/
Comparison_ChIA-PET_HiChIP_YRB/plots
Comparison_ChIA-PET_HiChIP_YRB/Rdata_with_coverage_ctcf/

# Reference scripts
Michal_scripts/

# Others
.RDataTmp
.Rsubread_UserProvidedAnnotation*
.Rhistory
#.DS_Store*
.idea*
__pycache__
#plots/.DS_Store
#plots/mean_values/.DS_Store
#plots/venn_diagrams/.DS_Store
.DS_Store
comparison.RData
.RData
.Rproj.user
Comparison_ChIA-PET_HiChIP_YRB.Rproj
